@import reset


nav > *
  border: 1px solid green

nav.main-nav
  height: 50px
  padding: 10px 50px

  .logo
    display: inline
    font-size: 40px

  ul
    display: inline
    float: right
    li
      float: left

.jumbotron
  height: 500px
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  border: 3px solid #222222

  header
    display: flex
    flex-direction: column
    align-items: center
    h1
      font-size: 40px
      margin-bottom: 5px

    .call-to-action
      margin-top: 15px
      border: 3px solid #222222
      border-radius: 50px
      padding: 8px
.info-grid
  width: 100%
  header
    margin: auto
    h1
      font-size: 40px
      text-align: center

  .box-container
    width: 95%
    max-width: 900px
    margin: auto
    border: 3px solid #222222
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .box
      box-sizing: border-box
      min-width: 200px
      flex: 1
      height: 300px
      border: 1px solid #222222
.info-grida
  width: 90%
  max-width: 900px
  margin: auto
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center

  .picture-desc
    display: flex
    flex-direction: row
    justify-content: center

  img
    flex: 5
    height: 250px
    border: 1px solid #222222
    padding: 30px
  span
    flex: 1
    align-self: center
    justify-self: center
    text-align: center
  .desc
    box-sizing: border-box
    flex: 5 1
    padding: 30px
    border: 1px solid #222222

footer
  margin-top: 20px
  height: 300px
  background-color: #666
  display: flex
  flex-wrap: nowrap
  nav
    padding: 40px
    flex: 1
    border-right: 1px solid white

  .company-info
    padding: 40px
    flex: 1